.assessment{
    background: white;
}

/*page header */
.page_header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-sizing: border-box;
    height: fit-content;
    position: sticky;
    background: white;
    top: 50px;
    z-index: 0;
}

/* left section of the page header */
.header_bottom_left {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--active-color);
    width: 50vw;
    padding: 10px 0px;
    border-bottom: 2px solid var(--active-color);
}

/* right section of the page header */
.header_bottom_right {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--secondary-color);
    padding: 10px 0px;
    width: 50vw;
    border-bottom: 2px solid #F6F8FA;
}

* * {
    /* 
    border: 2px solid red; 
    */
}


/* styling for main body of the page */
.page_body {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* styling for header of main body of the page */
.body_header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body_header_left {
    color: var(--primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.body_header_right {
    display: flex;
    align-items: center;
}


/* styling for content of main body */


.assessment_stats_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #DADCE0;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    color: var(--primary-color);
}

.stats_item {
    display: flex;
    padding: 10px 14px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
}

.stats_name {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.stat_data {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.total_assessment{
    width: 50% ;
    border-right: 1px solid #DADCE0;
}

.total_purpose{
    width: 50% ;
}

.candidates{
    border-top: 1px solid #DADCE0;
    border-bottom: 1px solid #DADCE0;
}

.stats_number{
    display: flex;
    gap: 4px;
    align-items: center;
}

.stats_extra_num{
    color:#05C165;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
}

.stat_data_text{
    font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}

.stat_data_content_item:last-child {
        border-right: none; /* Remove border on the last element */
      }
.stat_data_content_item{
    border-right: 1px solid #DDE5EA;
    padding-right: 10px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.stat_data_content{
    display: flex;
    gap: 10px;
}

/* Define CSS animations */
@keyframes showAnimation {
    from {
        max-height: 0;
    }
    to {
        max-height: 1000px; /* Adjust based on your content */
    }
}

@keyframes hideAnimation {
    from {
        max-height: 1000px; /* Adjust based on your content */
    }
    to {
        max-height: 0;
        border: none;
        display: none;
    }
}



/* Apply animations to show and hide classes */
.show {
    display: flex;
    animation: showAnimation 0.5s ease-out forwards;
}

.hide {
    animation: hideAnimation 0.5s ease-out forwards;
}

.hidden{
    display: none;
}

.assessment_card_list{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}


.assessment_stats_heading{
    color: var(--primary-color);
    font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 140%;
display: none;
}

@media (min-width: 1126px) {
    .page_header{
        display: none;
    }
    .body_header_right{
        display: none;
    }
    .hide {
        animation: none;
        display: block;
    }
    .hidden{
        display: flex;
    }
}

@media (min-width: 515px) {
    .assessment{
        margin-left: 156px;
    }
    .assessment_stats_heading{
        display: block;
    }
    .body_header_left{
        font-size: 18px;
    }
}

@media (min-width: 690px) {
    .total_assessment{
        order: -2;
    }
    .total_assessment,
    .total_purpose{
        width: 172px;
        border-bottom: 1px solid #DADCE0;
    }
    .candidates{
        /* width: auto; */
        flex: 1;
        order: -1;
        border-top: none;
        border-right: 1px solid #DADCE0;
    }
    .total_purpose{
        order: 0;
    }
}


@media (min-width: 1035px) {
    .total_assessment{
        order: -2;
    }
    .total_assessment,
    .total_purpose{
        width: 172px;
        border-bottom: 1px solid #DADCE0;
    }
    .candidates{
        width: auto;
        flex: 1;
        order: -1;
        border-top: none;
        border-right: 1px solid #DADCE0;
    }
    .total_purpose{
        order: 2;
    }
    .candidate_scores{
        width: auto;
        flex: 1;
        border-bottom: 1px solid #DADCE0;
        order: 0;
        border-right: 1px solid #DADCE0;
    }
}