/* CSS RESET */

* * {
  margin: 0;
  padding: 0;
}

a{
  color: inherit; /* Inherit the color from parent element */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor to pointer on hover */
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1126px) {
  .app{
    background: #F6F8FA;
    border-right: 16px solid #F6F8FA;
  }
}