body {

  /* font-feature-settings: 'clig' off, 'liga' off; */
  font-family: Inter;
  font-style: normal;
  line-height: 140%;


  
  --active-color: #0073e6;
  --primary-color: #1C4980;
  --secondary-color: #3E6493;
}
